{
  "semi": false,
  "useTabs": false,
  "bracketSpacing": true,
  "bracketSameLine": false,
  "singleQuote": true,
  "trailingComma": "none",
  "tabWidth": 2,
  "printWidth": 120,
  "jsxSingleQuote": true,
  "arrowParens": "avoid",
  "quoteProps": "as-needed",
  "endOfLine": "lf",
  "insertPragma": false
}